
.mainDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.secondDiv{
    height: 200px;
    width: 25px;
    background-color: black;
}
.thirdDiv{
    height: 400px;
    width: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.green{
    width: 70%;
    height: 30%;
    border-radius: 50%;
    background-color: green;
    margin: 10px;
}
.yellow{
    width: 70%;
    height: 30%;
    border-radius: 50%;
    background-color: yellow;
    margin: 10px;
}
.red{
    width: 70%;
    height: 30%;
    border-radius: 50%;
    background-color: red;
    margin: 10px;
}

.brilla{
    box-shadow: 0px 4px 42px 9px rgba(224,240,135,1);
}